.error-container {
    /* min-width: 500px; */
    width: auto;
}

.error-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    padding: 1rem 0;
    font-size: 20px;
    color: indianred;
    font-weight: 800;
}